<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <!--连接字符串-->
  <connectionStrings>
    <add name="Report" connectionString="Data Source=114.55.117.123;Initial Catalog=AskForm_Report;uid=askformdb;pwd=Passw0rd@askform;" />
    <add name="Askform2.0" connectionString="Data Source=121.40.25.174;Initial Catalog=Askform2.0;uid=askformdb;pwd=Passw0rd@askform;" />
    <add name="LocalReport" connectionString="Data Source=192.168.3.144;Initial Catalog=AskForm_Biz;uid=sa;pwd=123456;" />
  </connectionStrings>
  <!--系统配置项-->
  <appSettings>
    <!--是否窗体置顶，[0:否，!0:是]-->
    <add key="IsTop" value="0" />
    <!--是否显示日志，[0:否，!0:是]-->
    <add key="IsLog" value="0" />

    <!--文本日志路径-->
    <add key="LogStarPath" value="..\..\Log" />
    <!--数据文件路径-->
    <add key="DataStarPath" value="..\..\Data" />
    <!--模板文件夹-->
    <add key="ModelPath" value="E:\tfs\Report2012\Report\" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.1.0.145" newVersion="1.1.0.145" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
